############################      ...°°°°°***************°°°°...   #################################
#####################°####.°°°°***°***°°°................°°°°****°°..   ############################
#####################°*ooooooo*°°°...     ..............      ...°°***°..  #########################
##################### .°**°..    ...............................    ..°***°.  ######################
####################°**°.. ..........................................   .°***°.  ###################
#################°**°....................................................  ..***°. #################
###############°**.............................°...........   ............... .°**°. ###############
##############**°....................  .°°******************°°....  ...........  .*o*. #############
############°o°........°°.....°°.. ..°****°°°...............°°°°°°°°..  ..°..°.... .°o*. ###########
#########°.*o........*o°....°*°...°**°°.....°...°.....°°°.........°°**°°. °*°.°°°... .°o° ##########
######°*****.........*.....°°...*o*.. ..°°°°°°°.°.....°°°°°°°°°°°°.  .***°..**°..°°°°...**. ########
#####***°*o...................*o*....°°°°......................°°°*°.  .°oo°..°**...°°°° °o* #######
####*°°°°O°...........°°°.. °o*.....°°..  ......°°°°°°°°°°°...°....°°°°...°*o*. °*° ..°.° .**#######
###o°°*°oo..°.......°°°°...*o°....... .°°******°°.........°..°°°°°....o**°.*°**..°o.. .°°°. *o######
##o°.°.*Oo.°*°*°...°°°....**.°°......*o**°°°°°...°°°°°°°°°.....*.*o°*°Oo*o*O.*o**oo° ...°°*° *o#####
.**...*Oo.°**O°...°°°..°*o°°°°....**Oo°°°°...°°°°°...°°°°°.°°°.oo*ooOOOOOOOOoO*oOoO* ....o*o..o* ###
.o°...*°..**O°.....°..***°......°oooo..°. .**°...........°*°°°oo°°oooooooooOOOooooo...°°oooo..*O####
°o........°oo..°*...... .*..°*°*o*°*.... °o°.................°°............°.°°.....°°*oooo° .°o* ##
**........*O*.°O°....°°°o.°oOo*o°.**....°o.................... ............... .....°°**Oo°.. °oo###
o°........oO°.oo...°*°°o.°o*o*O°°°o°....*.............................................°°*Oo*°.°oO°##
*°........*O.°O...°°°°o°°O°o*o°...o*...**................................................*OO*°°*O°##
°*........°O°°O°..°°**o°O°ooo*....**.*.*°................................................ °Ooo**o°##
°o.........*o.*o..°o°o*o*°o*o.....*o o***..................................................oooooO°##
.*°.........°*°o*.***oo*°°oo*......o°.***°.................................................°OoOooOoo
.°o°.....°....**o***oO°...oo........o°.°*o*.................................................oOoO*OOO
oOOO*....o*.....°***Oo....O*.........**o°°*o*°............................................. *Oooo*OO
OOOOO*...*O°.°°°°**°O°....o*...........°o*°°°°°..................................  .........°Oo°OooO
OOOOO*..°*OO..°**o°.*.....**..............°. ........................... ........°°.. .......Oo*OOOO
OOOOOO*°°ooOo..**o°.......°o°******ooOOoo***o****°.°...............°°.°*°ooooooooo*oo*°......O*oOOOO
OOOOOOO*o*OOOo.°*o*.....°°ooooooOOoooo°**oOo*ooOoO*Oo...........°oooooooOoooOo**°**°°ooo*°...OOOOOOO
OOOOOOOoo*OOOO*.°*o..°*ooooo°....°°°°.....°°...°°*oOo°..........*OOo****°.°......    ...°**.°OOOOOOO
OOOOOO#OO*OOoOo.°oo...°°°........................................°°°.... ...............  ..*OOOOOOO
OOOOOOOO**o°*Oo°*O°.........................................................................OOOOOOOO
OOOOOO#**o...*o°oO°.............°*****oooooo**°°......................... .....°°.... .....*OOOOOOOO
OOOOOOO°o°°.*Oo°o*.°..........*o**°°°°OOoo**ooo****.....................°***°*OOOOoo*°.. ..oOOOOOOOO
OOOOO#o*o.°*OO°oo°...........**°......oOo***°o*...°*..................°**°.. °OOo*°°oo***. *OOOOOOOO
OOOOO#*o*.°OOo*o°.°°...................******°........................°. .....°oo**o*. .°° °OOOOOOOO
OOOOOO**°°°oOoo°.°°°°°.........................................°.............. ..°.. ... ...OOOOOOOO
OOOOOO*.°°°*ooo.°°°°°°........................................................... ..........*OOOOOOO
OOOOO#*°°°°°.*o.°°°°°°°°°.................................................................. °OOOOOOO
OOOOOOO°°°°°.*o.°°°°°°°°°°°°...................................°............................°OOOOOOO
OOOOOO#o°°°°.*O°°°°°°°°°°°°°°°°°...............................°.............................OOOOOOO
OOOOOOO#O*°°.*O°°°°°°°°°°°°°°°°°°°°.........................°...°...........................°OOOOOOO
OOOOOOOOOOo°°oO°°°°°°°°°°°°°°°°°°°°°..........................°..°..........................°OOOOOOO
OOOOOOOOOO#OOOO*°°°°°°°°°°°°°°°°°°°°°°°.............................°.°.....................*OOOOOOO
#############OOo°°°°°°°°°°°°°°°°°°°°°°°°°°°........o°.................°o....................OO######
###############o°°°°°°°°°°°°°°°°°°°°°°°°°°°°°......o*..................o°..................*O#######
###############oo**o°°°°°°°°°°°°°°°°°°°°°°°°°°...°.°o°°.°°°..°°°°°.°°°°o°.................*O########
###############Oo*°*°**°°°°°°°°°°°°°°°°°°°°°°°°.....*o*Ooooo*.°°°°.*Oo*°..................o#########
###############Ooo°°°o***°°°°°°°°°°°°°°°°°°°°°.°°°*oooo**..°o*****oo°°...................*O#########
#################Ooo°°°*°°°°°°°°°°°°°°°°°°°...*oOOo*°°°°°....°°°°°oo**Oo................oO##########
###################**°o°*°°°°°°°°°°°°°°°°°.**oo*o°*°.°..°°.°...°..°°***Oo°**...........°############
##################OoO*o°*°°°°°°°°°°°°°°°°°oOoO°°°°.*o°*oo*.°..°*o.°..°°.*o°O*........°°O############
###################oOO*o°****°*°°°°°°°°°°°*°°**oOooO*°OO°.....*°o*oo°o**.*°°...°.....°*o############
###################o*OOooO*°o*o°°°°°°°*o°.**ooO°*oo°°°°°°****°°°oo°°*o°**oO*.°°o...°o*o#############
##################OoooooO#O*Ooo°°°°°°°°**.O**Oo***********°°°***°°o***°*o*oO.o°O°..°OOO#############
##################OooOooo*O#o**°°°°**°°Ooo*°°°°°°°°°°°°............°°°*°..°o**°o°.**O###############
##################OOo°Oo***oOoo°°°°oo.°oo°.°°°°°°°°°°°°°°°***°*°.°..........°°o°.**O################
##############ooo**oo°*Ooo*ooOOoo°°oo°°°.°°°°°°°°°°°°°°°°°°*°°°°°.°.........°oO°.OO#################
#########O°°Oo***ooo**°*Oo°OoooO#*°*O.o*°Oo*°°°*°°°°°°°°°°°°°.***°.°°...°.*°.°oo*###################
#######Ooo°OOOOo°****oo*oo*o#oooooO*°°*°*O*°°°O*°°°°°°°°°o°°O°*o°o.*O.°°°°o°.°oO####################
########o°oOOOOo°ooooooooo*oO*O**oOo**°°°°°°.oo.°°°*°°O°*o..O°°o.o°°*..°°°..°*OO####################
########o*OOOOO**ooooOoOOOOOo*o*OOOOO#o**°°°°°°°°°°°°°*°*°.°o°oo°*....**°*°**oOo####################
#######o*O**Oo*°oO*°oOOoO#OOOoooOoO*oOOoOO*°°*oo°°o.o°.°°°°°°°*°°°°.°.OO*o°oOoo*O#O#################
###O*oO*OO*O*°*oOO*oo*OoOoOooOOo*oOOoO***oOoo*oO*.o**o°°°°°°°°*°°O°°.*Oo°**O°°°*o#***o##############
#ooooo**°oO**Oo*****°°°*°°**OOOOoooOo*°.°°*O#o°Oo.**.o*°°°°°°°o.*o*oo**o*oOo...°°°#o°°°*############
O*o*Ooo°°**OoOOo*°°°°°°°°°°°*o***#OoOoo*°°°°°**O*°°o°.*°*°°**°.°.*oOooOOoOo.......°OOo°°°o*°*o*°####
oOooo*oo°**oOOOO*°°°°°°°°°°°°°°°°oo**o*oO*°°°°°*oo*OO*o*OOo**°°**oOOoo*°*°.........*oOo**°O.*°.OO*°o
*OOO*°oOoO*o*OooOo°°°°°°°°°°°°°°°°°°°*ooooO*°°°°°*°°**°°°*oo**°°°°°°°...............*o*..°o****NGARA
OOOO*°oOO**O°*Oo°oOo°°°°°°°°°°°°°°°°°°°*o**OO*°°°°°°°°°°°.°°°°°°.....°..............°Oo*°*o*oo..BIRD
